body{
  font-size: 16px;
  
}
h1{
  font-size: 48px;
  color: #010911;
  text-align: center;
 
 margin: 45px 0;
 
}
h2{
  font-size: 3dvi;
  color:#104c90;
  margin:0 0 10px ;
 
  
}
a{
  color:orange;
  font-weight: bold;
}a:focus{
  
  color:blue;
}

a:hover{
  color:aqua;
}


.blog-post{
  background:#f1f1f1;
  width:450px;
  padding: 25px;
  margin: 0 auto;
 
}
img{
  width:444px;
 
}
.read-more{
  margin:0;
}